   .design10 {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
   }
   .design10 th {
    padding: 10px;
    border-bottom: solid 4px black;
   }
   .design10 td {
    padding: 10px;
    border-bottom: solid 1px black;
   }
   .Form-Btn1 {
    background: #5bc8ac;
    color: #fff;
    border-radius: 6px;
   }
   .Form-Btn2 {
    background: #a0a6a5;
    color: #fff;
    border-radius: 6px;
   }