<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/costApplication.css">
    <title>Document</title>
</head>
<body>
    <div class="form">
      <h1>経費申請</h1>
        <div class="Form-Item">
          <p class="Form-Item-Label">
            <span class="Form-Item-Label-Required">必須</span>UserID
          </p>
          <input type="text" class="Form-Item-Input" placeholder="例）team2309">
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>申請日</p>
          <input type="text" class="Form-Item-Input" placeholder="例）YYYYMMDD">
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>項目</p>
          <input type="text" class="Form-Item-Input" placeholder="例）交通費">
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>金額</p>
          <input type="text" class="Form-Item-Input" placeholder="例）24980">
        </div>
        <div class="Form-Item">
          <p class="Form-Item-Label isMsg">備考</p>
          <textarea class="Form-Item-Textarea"></textarea>
        </div>
        <div>
        <button type="submit" class="button1">登録</button>
      </div>
      <div>
        <button type="submit" class="button2">戻る
        </button>
      </div>
      </div>
</body>
</html>