<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/costList.css">
    <title>Document</title>
</head>
<body>
      <h1>経費一覧</h1>
      <table class="list_item">
        <thead>
          <tr>
            <th>経費ID</th>
            <th>UserID</th>
            <th>申請日</th>
            <th>項目</th>
            <th>金額</th>
            <th>備考</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="tb_cost : ${list}" th:object="${tb_cost}">
            <td th:text="*{cost_id}"></td>
            <td th:text="*{user_id}"></td>
            <td th:text="*{application_day}"></td>
            <td th:text="*{category}"></td>
            <td th:text="*{cost}"></td>
            <td th:text="*{comments}"></td>
          </tr>
        </tbody>
      </table>
      <div>
      <button type="button" class="bottun1"><a th:href="@{/myPage}">戻る</a></button>
    </div>
  </body>
</html>