<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css を読み込む -->
	<link th:href="@{/css/leaving.css}" rel="styleSheet">
	<!--<form id="form" method="POST" th:object="${leavingRequest}" th:action="@{/leaving/add}">-->

	<title>退勤報告</title>
</head>

<body>
	<div class="Form">
		<h1>退勤報告</h1>

		<form th:action="@{/leaving/add}" th:object="${request}" method="post">
			<div th:if="${validationError}" th:each="error : ${validationError}"></div>
			<div th:errors="*{leavingTime}" td style="color: red;"></div>
			<div class="Form-Item">
				<p class="Form-Item-Label">
					<label><span class="Form-Item-Label-Required Autoarea">自動</span>勤怠ID</label>
				</p>
				<input type="number" th:field="*{attendanceId}" class="Form-Item-Input">
			</div>
			<input type="hidden" th:field="*{startTime}" id="time" class="Form-Item-Input">
			<div th:errors="*{userId}" td style="color: red;"></div>
			<div class="Form-Item">
				<p class="Form-Item-Label">
					<span class="Form-Item-Label-Required">必須</span>UserId
				</p>
				<input type="text" th:field="*{userId}" class="Form-Item-Input" placeholder="例）100056">
			</div>

			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>ステータス</p>
				<select name="name" th:field="*{status}" class="Form-Item-Input">
					<option value="退勤">退勤</option>
					<option value="遅刻">遅刻</option>
					<option value="欠席">欠席</option>
					<option value="代休">代休</option>
					<option value="所定休">所定休</option>
					<option value="有休">有休</option>
					<option value="その他">その他</option>
				</select>
			</div>

			<div th:errors="*{leavingDate}" td style="color: red;"></div>
			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>退勤日</p>
				<input type="date" th:field="*{leavingDate}" id="date" class="Form-Item-Input">
			</div>


			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>退勤時間</p>
				<input type="time" th:field="*{leavingTime}" id="time" class="Form-Item-Input">
			</div>

			<div th:errors="*{breakTime}" td style="color: red;"></div>
			<div th:errors="*{breakTimes}" td style="color: red;"></div>
			<div class="Form-Item">
				<p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>休憩時間</p>
				<input type="time" th:field="*{breakTime}" id="time" class="Form-Item-Input">
				<input type="time" th:field="*{breakTimes}" id="time" class="Form-Item-Input">
			</div>

			<div class="Form-Item">
				<p class="Form-Item-Label isMsg"><span class="Textarea"></span>備考</p>
				<textarea class="Form-Item-Textarea" th:field="*{comments}"></textarea>
			</div>

			<button type="submit" class="button1">登録</button>
			<button type="button" class="button2">戻る</button>
	</div>
	</form>
</body>

</html>