<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
 <body>
    <h1>マイページ</h1>
      <a href="http://localhost:8080/UserRegistration">ユーザー登録</a>
      <a href="http://localhost:8080/UserEdit/1">ユーザー編集・削除</a>
      <a href="http://localhost:8080/costapplication">経費申請</a>
      <a href="http://localhost:8080/list">経費一覧</a>
      <a href="http://localhost:8080/attendanceList">勤怠一覧</a>
      <a href="http://localhost:8080/attendance">出勤報告</a>
      <a href="http://localhost:8080/leaving/2">退勤報告</a>
 </body>
</html>