<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/UserEditDelete.css">
    <title>ユーザ編集・削除</title>
</head>

<body>
    <h1 style="text-align:center">ユーザ編集・削除</h1>
    <form th:action="@{/UserEdit/update}" th:object="${userEditDeleteRequest}"
    method="post">
        <div class="Form">
			<div th:if="${validationError}" th:each="error : ${validationError}">
				<label class="text-danger" td style="color: red;" th:text="${error}"></label>
			</div>
            <div class="Form-Item">
                <p class="Form-Item-Label"><span class="Form-Item-Label-Required-automatic"></span>userID</p>
                <input type="text" class="Form-Item-Input" th:field="*{user_id}"　disabled>
                <th:if="${#fields.hasErrors('user_id)}" class="text-danger"></th:if>
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>名前</p>
                <input type="text" class="Form-Item-Input" th:field="*{name}" placeholder="例）山田太郎">
                <th:if="${#fields.hasErrors('name')}" class="text-danger"></th:if>
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>カナ</p>
                <input type="text" class="Form-Item-Input" th:field="*{kana}" placeholder="例）ヤマダタロウ">
                <th:if="${#fields.hasErrors('kana')}" class="text-danger"></th:if>
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>メールアドレス</p>
                <input type="email" class="Form-Item-Input" th:field="*{email}" placeholder="例）yamada0000@XX.00.yy">
                <th:if="${#fields.hasErrors('email')}" class="text-danger"></th:if>
            </div>
            <div class="Form-Item">
                <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>パスワード</p>
                <input type="password" class="Form-Item-Input" th:field="*{password}" placeholder="半角英数字8ケタ以上">
                <th:if="${#fields.hasErrors('password')}" class="text-danger"></th:if>
            </div>
             <div class="Buttons">
				  <button type="submit" class="Form-Btn"><a th:href="@{/mypage}">編集</a></button>
            	  <button type="button" class="Form-Btn-Delete"><a th:href="@{/UserDelete/{user_id}(user_id=*{user_id})}">削除</a></button>
           		  <button type="button" class="Form-Btn-Back"><a th:href="@{/mypage}">戻る</a></button>
           		  </button>
			 </div>

        </div>
    </form>
</body>

