<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="userEditDelete.css">
    <title>ユーザ編集・削除</title>
</head>

<body>
    <div class="Form">
        <h1>ユーザ編集・削除</h1>
        <div class="Form-Item">
            <p class="Form-Item-Label">
                <span>userID</span>
            </p>
            <input type="text" class="Form-Item-Label" placeholder="○○○○">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label">
                <span>名前</span>
            </p>
            <input type="text" class="Form-Item-Input" placeholder="○○○○">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label">
                <span>カナ</span>
            </p>
            <input type="text" class="Form-Item-Input" placeholder="○○○○">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label">
                <span>メールアドレス</span>
            </p>
            <input type="text" class="Form-Item-Input" placeholder="○○○○">
        </div>
        <div class="Form-Item">
            <p class="Form-Item-Label">
                <span>パスワード</span>
            </p>
            <input type="text" class="Form-Item-Input" placeholder="○○○○">
        </div>
        <input type="submit" class="Form-Btn" value="登録">
        <input type="submit" class="Form-Btn-Delete" value="削除">
        <input type="submit" class="Form-Btn-Back" value="戻る">
    </div>

</body>

</html>